# import libraries

In [1]:
import pandas as pd
import numpy as np

# loading dataset

In [2]:
df = pd.read_csv("D:\\Walmart.csv")

In [3]:
df.columns

Index(['invoice_id', 'Branch', 'City', 'category', 'unit_price', 'quantity',
       'date', 'time', 'payment_method', 'rating', 'profit_margin'],
      dtype='object')

In [4]:
skew_values = df.skew(numeric_only=True)
print(skew_values)

invoice_id      -0.000519
quantity         2.565066
rating           0.198399
profit_margin   -0.353965
dtype: float64

In [5]:
kurtosis_values = df.kurt(numeric_only=True)
print(kurtosis_values)

invoice_id      -1.200698
quantity         8.423019
rating          -0.827253
profit_margin   -0.709089
dtype: float64

# initial exploration

In [6]:
df.sample(10)

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
3203,3204,WALM021,McAllen,Fashion accessories,$80,1.0,14/10/20,14:14:00,Ewallet,8.0,0.48
383,384,WALM091,Little Elm,Food and beverages,$74.89,4.0,01/03/19,15:32:00,Ewallet,4.2,0.33
8916,8917,WALM099,Weatherford,Home and lifestyle,$28,2.0,28/06/20,16:09:00,Cash,7.0,0.18
7616,7617,WALM055,Waxahachie,Home and lifestyle,$45,3.0,08/12/21,17:45:00,Credit card,4.0,0.33
2598,2599,WALM052,Mansfield,Home and lifestyle,$79,1.0,22/09/23,9:10:00,Ewallet,9.0,0.57
6920,6921,WALM038,Sugar Land,Home and lifestyle,$19,1.0,22/11/21,17:18:00,Credit card,3.0,0.48
6151,6152,WALM035,San Angelo,Fashion accessories,$53,3.0,02/12/22,19:10:00,Credit card,3.0,0.48
8213,8214,WALM054,Sherman,Fashion accessories,$51,1.0,03/11/22,12:53:00,Credit card,3.0,0.21
9803,9804,WALM025,Waco,Fashion accessories,$45,1.0,20/01/20,6:45:00,Cash,5.0,0.48
4000,4001,WALM009,Plano,Home and lifestyle,$55,1.0,29/08/21,20:58:00,Ewallet,7.0,0.48

In [7]:
df.shape

(10051, 11)

In [8]:
df.columns

Index(['invoice_id', 'Branch', 'City', 'category', 'unit_price', 'quantity',
       'date', 'time', 'payment_method', 'rating', 'profit_margin'],
      dtype='object')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      10051 non-null  int64
 1   Branch          10051 non-null  object
 2   City            10051 non-null  object
 3   category        10051 non-null  object
 4   unit_price      10020 non-null  object
 5   quantity        10020 non-null  float64
 6   date            10051 non-null  object
 7   time            10051 non-null  object
 8   payment_method  10051 non-null  object
 9   rating          10051 non-null  float64
 10  profit_margin   10051 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 863.9+ KB

# Data cleaning

In [10]:
#check for duplicates records
df.duplicated().sum()

51

In [11]:
#check null value
df.isnull().sum()

invoice_id         0
Branch             0
City               0
category           0
unit_price        31
quantity          31
date               0
time               0
payment_method     0
rating             0
profit_margin      0
dtype: int64

In [12]:
# deal with duplicates
df.drop_duplicates(inplace = True)

In [13]:
df.duplicated().sum()

0

In [14]:
df.shape

(10000, 11)

In [15]:
# droping all rows with missing records
df.dropna(inplace = True)

In [16]:
df.isnull().sum()

invoice_id        0
Branch            0
City              0
category          0
unit_price        0
quantity          0
date              0
time              0
payment_method    0
rating            0
profit_margin     0
dtype: int64

In [17]:
df.shape

(9969, 11)

In [18]:
# type casting
# first of all we have to remove $ sign in unit_price
df['unit_price'] = df['unit_price'].str.replace('$','')

In [19]:
# change the datatype
df['unit_price'] = df['unit_price'].astype(float)

In [20]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [21]:
#check
df['unit_price'].dtype

dtype('float64')

# feature engineering

In [22]:
df['total_price'] = df['unit_price']*df['quantity']

In [23]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,total_price
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48,522.83
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48,76.40
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33,324.31
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33,465.76
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48,604.17

In [24]:
df.columns

Index(['invoice_id', 'Branch', 'City', 'category', 'unit_price', 'quantity',
       'date', 'time', 'payment_method', 'rating', 'profit_margin',
       'total_price'],
      dtype='object')

# connect the data in MySQL

In [25]:
from sqlalchemy import create_engine,text
user = 'user22'
pw = 'user22'  
db = 'walmart_db'
engine = create_engine(f"mysql+pymysql://{user}:{pw}@localhost/{db}")
engine
df.to_sql('walmart',con=engine, if_exists='replace',chunksize=1000,index=False)
sql='select*from walmart'
sql

'select*from walmart'

In [28]:
df.to_csv("Airbnb_Listing.csv",index = False)

In [29]:
from IPython.display import FileLink

In [30]:
FileLink("Airbnb_Listing.csv")

C:\Users\sn675\Airbnb_Listing.csv